/*.rel {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 4px;
    width: 305px;
    min-width:305px;
    min-height: 305px;
    justify-content: center;
    
    
  }*/
  :root {
    --main-color:  #0088ff;
    --sec-color: #FF7700;
  }

  html {
    box-sizing:border-box;
    font-size: 20px;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }

  .banner{
    font-family: 'Roboto Serif', serif;
    font-size: 30px;
    display:fixed;
    text-align: center;
    margin-bottom:2px;
    margin-top:2px;
  }
  .outer-container{
    display: grid;
    grid-template-columns:auto minmax(100px,300px) auto;
    column-gap: 5px;
    margin-left: auto;
    margin-right:auto;

  }
  .status-container{
    display: grid;
    width: 100%;
    max-width: 50px;
    grid-template-rows: repeat(6,1fr);
    row-gap:3px;
    /*border: 1px solid green;*/
    margin-left:1px;
    margin-right:auto;
  }
  .status-row{
    display: flex;
    background-color: gray;
    /*border: 1px solid red ;*/
    width: 90%;
    max-width:50px;
    height: 10px;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Serif', serif;
    margin: auto;
    padding: 2px;
    font-size: 15px;

  }
  .rel {
    display: grid;
    width:100%;
    max-width:350px;
    margin-left:auto;
    margin-right:auto;
    grid-template-columns: repeat(5,1fr) ;
    grid-template-rows: repeat(6,1fr) ;
    column-gap:3px;
    grid-gap:3px;

  }

  
  .rel > .input {
    display: flex;
    border: 2px solid var(--main-color) ;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Serif', serif;
    margin: 0px 0px 1px 1px;
    font-size: 30px;
    text-align: center;
    /*line-height: 50px;*/
    caret-color: transparent;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation-name: none;
  }


  .input > *{
    pointer-events: none;
  }

  .rel > .current-input {
    display: flex;
    border: 1px solid red ;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Serif', serif;
    margin: 0px 0px 1px 1px;
    font-size: 30px;
    text-align: center;
    /*line-height: 50px;*/
    caret-color: transparent;
    cursor: default;
  }

  /*div:focus{
    background-color: red;
  }*/
div:focus-visible {
    outline: 4px dashed black;
  }
    
  /* Focusing the button with a mouse, touch, or stylus will show a subtle drop shadow. */
div:focus:not(:focus-visible) {
    outline: none;
    box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
  }

  #h-input{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 4px;
    width: 50%;
    justify-content: center;
    caret-color: transparent;
    background-color: chocolate;
  }



.keyboard-container{
  display: grid;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid line;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
 
  

}
.key-container-row-1{
  display:grid;
  width:100%;
  margin-left: auto;
  margin-right:auto;
  margin-top:4px;
  grid-template-columns: repeat(10,1fr) ;
  grid-template-rows: 1fr;
  column-gap: 1px;
  row-gap: 2px;
 place-items: center;
 max-width: 360px;
}

.key-container-row-2{
  display:grid;
  width:100%;
  margin-left: auto;
  margin-right:auto;
  margin-top:4px;
  grid-template-columns: repeat(9,1fr) ;
  grid-template-rows: 1fr;
  column-gap: 2px;
  row-gap: 1px;
 place-items: center;
 max-width: 324px;
}

.key-container-row-3{
  display:grid;
  width:100%;
  margin-left: auto;
  margin-right:auto;
  margin-top:4px;
  grid-template-columns: repeat(10,1fr) ;
  grid-template-rows: 1fr;
  column-gap: 2px;
  row-gap: 1px;
 place-items: center;
 max-width: 360px;
}

.key{
  display: flex; /*flex added to be able to center content (a trick)*/
  width: 100%;
  height:50px;
  align-items: center;
  justify-content: center;
  color:  var(--main-color) ;
  line-height:100%;
  font-size:14px;
  font-family: 'Roboto Serif', serif;
  color: var(--main-color);
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
  border-radius: 5px ;
  
}

.key.Enter{
 
  grid-column: 1/span 2;
 
}

.key:active{
  transform: translateY(2px) translateX(1px);
  border: 2px outset;
}
.key.BackSpace{
  background-image: url('backspace-solid-gray.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  color:azure;
}
.key:hover{
  color: var(--sec-color);
}

.bsvg {
  fill: red;
}



.analyse-frame{
  width:100%;
  max-width:450px;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
}

.analyse-top-container{
  display: grid;
  width: 100%;
  max-width: 350px;
  grid-template-columns: 30% 20% 20% 30%;
  grid-template-rows:auto;
  column-gap: 5px;
  /*border: 1px solid red;*/
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto Serif', serif;
  font-size: 15px;
  align-items:center;
  justify-items: center;
  border-bottom: 1px solid var(--main-color);
  padding: 3px;
  margin-top:3px;
  margin-bottom:3px;
}
.analyse-wordle-container{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 2px;
  /*border: 1px solid green;*/
  
}
.analyse-wordle-elem{
  display: flex;
  width: 100%;
  max-width:25 px;
  justify-content: center;
  align-items: center;


}
.wordle-grade{
  text-align:center;
  width:100%;
  color:var(--sec-color)
  /*border: 1px solid burlywood*/;
}

.wordle-grade-header{
  text-align:center;
  width:100%;
  color:var(--main-color);
  /*border: 1px solid burlywood*/;
}
.wordle-soln-rem{
  text-align:center;
  width:100%;
  font-size: 12px;
  color:var(--main-color);
}
