/*.rel {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 4px;
    width: 305px;
    min-width:305px;
    min-height: 305px;
    justify-content: center;
    
    
  }*/
  

  html {
    box-sizing:border-box;
    font-size: 40px;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }

  .banner{
    font-family: 'Roboto Serif', serif;
    font-size: 40px;
    display:fixed;
    text-align: center;
    margin-bottom:2px;
    margin-top:5vw;
  }
  .rel {
    display: grid;
    width:75%;
    max-width: 300px;
    min-width: 100px;

    border: 2px solid green;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    padding:4px;
    grid-template-columns: repeat(5,1fr) ;
    grid-template-rows: repeat(5,1fr) ;

  }
  
  .rel > .input {
    border: 1px solid blue;
    /*width: 50px;*/
    /*height: 100vw;*/
    margin: 0px 0px 1px 1px;
    padding: 2px;
    text-align: center;
    /*line-height: 50px;*/
    font-size: inherit;
    caret-color: transparent;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation-name: none;
    animation-duration: 1s;
    animation-iteration-count: 2;
  }

  .input > *{
    pointer-events: none;
  }

  .rel > .current-input {
    border: 1px solid red;
    /*width: 50px;*/
    /*height: 100vw;*/
    margin: 0px 0px 1px 1px;
    padding: 2px;
    text-align: center;
    /*line-height: 50px;*/
    font-size: inherit;
    caret-color: transparent;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    animation-name: none;
    animation-duration: 1s;
    animation-iteration-count: 2;
  }

  /*div:focus{
    background-color: red;
  }*/
div:focus-visible {
    outline: 4px dashed black;
  }
    
  /* Focusing the button with a mouse, touch, or stylus will show a subtle drop shadow. */
div:focus:not(:focus-visible) {
    outline: none;
    box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
  }

  #h-input{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding: 4px;
    width: 75%;
    max-width: 300px;
    min-width: 100px;
    justify-content: center;
    caret-color: transparent;
    background-color: chocolate;
  }

  .btn-container{
    display: grid;
    width:75%;
    max-width: 300px;
    min-width: 100px;
    border: 2px solid green;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    padding:4px;
    grid-template-columns: 1fr 1fr ;
    grid-column-gap: 3px;
    /*font-size: 5vw;*/
  }

  .button-x {
    display: inline-block;
    border: 2px solid orange;
    font-size: inherit;
  }

  .button-x:hover{
    background-color: cadetblue;
  }
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.btn-container {
    font-size: 20px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.btn-container {
    font-size: 10px;
  }
}

